.App {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.flexMain {
  display: flex;
  flex-direction: column;
  text-align: center;
  margin: 4rem;
}

.Main {
  display: flex;
}

body {
  font-family: "Source Sans Pro", sans-serif;
  font-weight: 600;
  margin: 20px;
  padding: 0;
  background-color: var(--body_background);
  color: var(--font_color);
}

h1 {
  margin: 0;
  font-size: 4rem;
}

h2 {
  margin-top: 0;
  font-size: 20px;
}

p {
  margin: auto;
}

code {
  font-size: 1.2em;
}

ul {
  list-style: none;
  padding-left: 20px;
}

* {
  box-sizing: border-box;
}


/* MEDIA QUERIES */

@media (max-width: 720px) {
  .game {
    flex-direction: column;
  }
  .gameInfo {
    margin: 0;
  }
}

@media (max-width: 520px) {
  .gameBoard {
    width: 100vw;
    padding: 1rem;
  }
  .boardRow {
    width: 100%;
  }
  .square {
    width: 30vw;
    height: 30vw;
    font-size: 4rem;
  }
  h1 {
    font-size: 3.5rem;
  }
}
